//[] |> === === === Colors and Variables === === === <|
:root {
   --blue-900: hsl(207, 95%, 8%);
   --blue-800: hsl(215, 56%, 23%);
   --blue-700: hsl(240, 28%, 14%);
   --blue-600: hsl(221, 51%, 16%);
   --blue-500: hsl(211, 53%, 11%);
   --blue-400: hsl(219, 37%, 17%);
   --blue-300: hsl(212, 71%, 34%);
   --blue-200: hsl(213, 49%, 34%);
   --blue-100: hsl(197, 100%, 50%);
   --blue-50: hsl(202, 81%, 86%);

   --cyan-100: hsl(189, 82%, 87%);
   --cyan-200: hsl(188, 88%, 80%);
   --cyan-300: hsl(189, 89%, 72%);
   --cyan-400: hsl(190, 91%, 48%);
   --cyan-500: hsl(190, 100%, 42%);
   --cyan-600: hsl(190, 100%, 38%);
   --cyan-700: hsl(190, 89%, 33%);
   --cyan-800: hsl(190, 88%, 27%);
   --cyan-900: hsl(190, 89%, 21%);

   --white: hsl(0, 0%, 100%);
   --white-50: hsla(0, 0%, 100%, 0.137);
   --white-100: hsl(0, 0%, 90%);
   --white-150: hsl(210, 14%, 89%);
   --white-200: hsl(75, 6%, 87%);
   --white-300: hsla(0, 0%, 79%, 0.781);
   --white-400: hsl(150, 14%, 84%);

   --red-900: hsl(0, 100%, 24%);
   --red-800: hsl(356, 83%, 41%);
   --red-700: hsl(350, 96%, 43%);
   --red-600: hsl(357, 62%, 24%);
   --red-500: hsl(0, 54%, 33%);
   --red-400: hsl(0, 56%, 39%);
   --red-300: hsl(0, 61%, 48%);
   --red-200: hsl(0, 76%, 57%);
   --red-100: hsl(0, 88%, 68%);

   --yellow-300: hsl(37, 98%, 53%);

   --gray-50: hsl(204, 45%, 98%);
   --gray-100: hsl(210, 38%, 95%);
   --gray-200: hsl(214, 32%, 91%);
   --gray-300: hsl(211, 25%, 84%);
   --gray-400: hsl(214, 20%, 69%);
   --gray-500: hsl(216, 15%, 52%);
   --gray-600: hsl(218, 17%, 35%);
   --gray-700: hsl(218, 23%, 23%);
   --gray-800: hsl(220, 26%, 14%);
   --gray-900: hsl(230, 21%, 11%);
   --gray-1000: hsl(218, 23%, 21%);
   --gray-2000: hsl(150, 2%, 49%);

   --green-600: hsl(180, 50%, 4%);

   --html: hsl(12, 98%, 44%);
   --sass: hsl(343, 79%, 44%);
   --bootstrap: hsl(276, 91%, 38%);
   --materialize: hsl(349, 100%, 73%);
   --react: hsl(197, 100%, 45%);
   --chakra: hsl(152, 100%, 50%);
   --git: hsl(0, 69%, 50%);
   --vite: hsl(230, 53%, 54%);

   --bgColor: hsl(210, 14%, 89%);

   --whatsapp: hsl(135, 63%, 48%);

   --black: hsl(0, 0%, 0%);
   font-size: 62.5%;
}
